.mrg{
    margin: 200px;
    margin-top: 100px;
}

.slider_box{
    width: 300px;
}

.mrg-top{
    margin-top: 100px;
}

.text{
    direction: rtl;
}


.rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
  }

  .mrg-small{
    margin: 10px;
  }

  .mrg-top-ms{
    margin-top: 20px;
  }

  tr{
    border-bottom: 1px solid #D5D5E5;
  }

  .description{
    margin-top: 50px;
    display:flex;
    
  }
   
  .description-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-right:20px;
    direction: rtl;
    margin-bottom: 50px;
  }
.description-img{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-img-title{
  width: 300px;
}

.addToCart{
  display: flex;
  justify-content: end;
  margin: 20px;
}

.addToCart-input{
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  text-align: center;
}

.addToCart-btn{
  width: 50px;
  height: 50px;
}

.addToCart-btn:hover{
   background-color:#D9C9CF;
}

.addBtn{
  border:5px solid #0078FF;
  border-radius: 4%;
  background-color:#65EF40;
  padding: 10px 20px;
  float: right;
  margin: 20px;
  color:white;
}

.react-rater-star{
  font-size: 30px;
}

.will-be-active{
  color:#DEE135 !important;
}
.is-active{
  color:#F0E764 !important;
}

.is-active-half:before{
  color:#EBEE25 !important;

}

.description-container{
  display: flex;
  justify-content: flex-end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detail-container{
  width: 100%;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.perfume-detail-container{
  display: flex;
  flex-direction: row-reverse;
}

.addToCart-container{
  display: flex;
  flex-direction: row-reverse;
}

.perfume-images{
  margin-left:100px;
}


.comments-container{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.comment-header{
  display: flex;
  flex-direction: row-reverse;
}

.comment-body{
  direction: rtl;
}

.comment-container{
  width: 60%;
  min-width: 400px;
  margin: 40px 0;
}
.comment-form-container{
  display: flex;
  margin:40px;
  justify-content: center;
}

.comment-form{
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 450px;
  padding:30px;
  border:1px solid #6D9DAF;
}

.form-comment-header{
  margin: 30px;
  direction: rtl;
}

.form-comment{
  display: flex;
  flex-direction: column;
  direction: rtl;

}

.comment-text{
  margin: 40px;
  padding: 40px;
  border:1px solid #CACB9C;
  height: 250px;
}

.comment-form-button{
  width:100px;
  margin:20px;
  padding:20px;
  background-color:#6D9DAF;
}

  @media only screen and (max-width:800px) {
    .mrg {
     margin:10px;
    }

    .perfume-detail-container{
      display: flex;
      flex-direction: column;
    }
  
  }


